* {
  --main-max-width: 1000px;
  --mobile-main-max-width: 768px;

  --header-max-width: 270px;

  --main-border-color: #eeefef;
  --main-font-color: #262626;
}

body {
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
  color: var(--main-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
